.home {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.button-use-my-location {
  margin: 10vh 0 0 0;
  padding: 2vh 5vw;
  border-radius: 1vh;
}

.button-use-my-location:hover {
  background-color: #f00;
}

.divider {
  height: 2px;
  width: 25%;
  margin: 5vh 0 5vh 0;
  background-color: #ccc;
}

.button-group {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}

.button-group-label {
  margin: 0 0 8vh 0;
}
