.home {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.button-use-my-location {
  margin: 10vh 0 0 0;
  padding: 2vh 5vw;
  border-radius: 1vh;
  background-color: transparent;
  border-color: #999;
  border-width: 2px;
  transition: all 0.2s ease-in-out;
}

.button-use-my-location:hover {
  background-color: #999;
  transform: scale(1.2, 1.2);
}

.button-group-error {
  color: red;
}

.divider {
  height: 2px;
  width: 25%;
  margin: 5vh 0 5vh 0;
  background-color: #999;
}

.button-group {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}

.button-group-label {
  margin: 0 0 8vh 0;
}
