.header {
  position: relative;
  background-image: linear-gradient(#33333355, transparent);
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5vh;
  z-index: 999;
}

.clicky {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  height: 55px;
}
.clicky:hover {
  transform: scale(1.2, 1.2);
}

.pre,
.post {
  display: inline-block;
  height: 100%;
  margin: 0 0 10px 0;
  text-align: left;
  color: #ccc;
  font-family: "Days One", sans-serif;
  font-size: 6vh;
}

.logo {
  display: inline-block;
  margin: 5px 2px 0 2px;
}
