.location-image {
  height: 25vh;
  width: 25vh;
  border-radius: 1vh;
}

.location-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  filter: grayscale(65%);
  border: none;
}

.location-button:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  filter: grayscale(0%) brightness(120%) saturate(130%);
}
